@import 'index.css';

@font-face {
  font-family: 'CSTM italic';
  src: url('../fonts/cstm-italic.ttf')  format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Wermut regular';
  src: url('../fonts/wermut-regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bitum regular';
  src: url('../fonts/bitum-regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bitum light';
  src: url('../fonts/bitum-light.ttf')  format('truetype');
  font-weight: lighter;
  font-style: normal;
}

body {
  background: black;
  height: 100%;
  margin: 0;
}

header {
  width: 100vw;
  z-index: 2;
  position: fixed;
  background: black;
  border-bottom: 3px solid white;
}

.icn-next_and_menu {
  position: absolute;
  display: flex;
  flex-direction: row;
}

header hr {
  width: 100vw;
}

.menu_icn {
  padding: 35px 0px 35px 30px;
  cursor: pointer;
}

.block_signature {
  font-family: 'CSTM italic';
  font-size: 50px;
  color: #FF7B7B;
  padding: 25px 0px 30px 30px;
  text-decoration: line-through;
  text-decoration-color: #FF7B7B;
  cursor: default;
}

.next_icn {
  padding: 42px 0px 42px 30px;
}

.text  {
  font-family: 'Wermut regular';
  text-align: center;
  font-size: 60px;
  color: white;
  margin: 0 auto;
  padding-top: 20px;
  cursor: pointer;
  padding-bottom: 30px;
}

.text a,
.text a:hover,
.text a:visited {
  text-decoration: none;
  color: white;
}

footer {
  width: 100vw;
  border-top: 3px solid white;
  position: relative;
  background-color: black;
  z-index: 2;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-element a {
  color: white;
  text-decoration: none;
  font-family: 'Wermut regular';
  font-size: 30px;
  padding: 15px 30px;
}

.menu {
  background-color: #FF7B7B;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  width: 130vw;
  transition: top ease 0.5s;
  top: -100%;
}

.menu.show {
  transition: top ease 0.5s;
  top: 0px;
}

.logo_icn {
  padding-left: 30px;
  padding-top: 20px;
  cursor: pointer;
}

.menu a {
  font-family: 'CSTM italic';
  font-size: 90px;
  text-decoration: none;
  color: black;
  padding-right: 10px;
}

.menu_items {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
  padding-top: 15vh;
}

.menu_items a:hover {
  color: white;
}

.menu_items a:active {
  text-decoration: line-through;
  text-decoration-color: white;
}

/* .menu_items a:visited {
  color: #669BA5;
} */

.tickets a {
  text-decoration: line-through;
  text-decoration-color: black;
  text-decoration-thickness: 3px;
}

.tickets a:visited {
  text-decoration: line-through;
  /* text-decoration-color: #669BA5; */
  text-decoration-thickness: 3px;
}
