.advice {
  padding-top: 140px;
  padding-left: 30px;
  position: relative;
  font-family: 'Bitum light';
  font-size: 17px;
  color: white;
}

.gallery_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 30px;
  text-align: center;
  width: 100vw;
}

.posters {
  width: 504px;
  margin: 15px;
  cursor: pointer;
  height: 755.641px;
}

.posters:hover {
  box-shadow: 0 0 30px rgba(255, 123, 123, 0.8);
}

.explanations {
  font-family: 'Bitum light';
  font-size: 17px;
  position: absolute;
  background-color: white;
  width: calc(504px - 20px);
  height: calc(755.641px - 10px);
  margin: 15px;
  margin-top: -774px;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.explanations:hover {
  box-shadow: 0 0 30px rgba(255, 123, 123, 0.8);
}

.poster_01, .poster_02 ,.poster_03, .poster_04, .poster_05, .poster_06, .poster_07, .poster_08, .poster_09, .poster_10, .poster_11, .poster_12, .poster_13, .poster_14, .poster_15, .poster_16, .poster_17, .poster_18, .poster_19, .poster_20, .poster_21 {
  perspective: 1000px;
}

.front_01, .front_02 ,.front_03, .front_04, .front_05, .front_06, .front_07, .front_08, .front_09, .front_10, .front_11, .front_12, .front_13, .front_14, .front_15, .front_16, .front_17, .front_18, .front_19, .front_20, .front_21 {
  backface-visibility: hidden;
  transition: 1s;
}

.back_01, .back_02 ,.back_03, .back_04, .back_05, .back_06, .back_07, .back_08, .back_09, .back_10, .back_11, .back_12, .back_13, .back_14, .back_15, .back_16, .back_17, .back_18, .back_19, .back_20, .back_21 {
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: 1s;
  cursor: pointer;
}

.front_01.front__01 {
	transform: rotateY(180deg);}
.back_01.back__01 {
	transform: rotateY(360deg);}

.front_02.front__02 {
	transform: rotateY(180deg);}
.back_02.back__02 {
	transform: rotateY(360deg);}

.front_03.front__03 {
	transform: rotateY(180deg);}
.back_03.back__03 {
	transform: rotateY(360deg);}

.front_04.front__04 {
	transform: rotateY(180deg);}
.back_04.back__04 {
	transform: rotateY(360deg);}

.front_05.front__05 {
	transform: rotateY(180deg);}
.back_05.back__05 {
	transform: rotateY(360deg);}

.front_06.front__06 {
	transform: rotateY(180deg);}
.back_06.back__06 {
	transform: rotateY(360deg);}

.front_07.front__07 {
	transform: rotateY(180deg);}
.back_07.back__07 {
	transform: rotateY(360deg);}

.front_08.front__08 {
	transform: rotateY(180deg);}
.back_08.back__08 {
	transform: rotateY(360deg);}

.front_09.front__09 {
	transform: rotateY(180deg);}
.back_09.back__09 {
	transform: rotateY(360deg);}

.front_10.front__10 {
	transform: rotateY(180deg);}
.back_10.back__10 {
	transform: rotateY(360deg);}

.front_11.front__11 {
	transform: rotateY(180deg);}
.back_11.back__11 {
	transform: rotateY(360deg);}

.front_12.front__12 {
	transform: rotateY(180deg);}
.back_12.back__12 {
	transform: rotateY(360deg);}

.front_13.front__13 {
	transform: rotateY(180deg);}
.back_13.back__13 {
	transform: rotateY(360deg);}

.front_14.front__14 {
	transform: rotateY(180deg);}
.back_14.back__14 {
	transform: rotateY(360deg);}

.front_15.front__15 {
	transform: rotateY(180deg);}
.back_15.back__15 {
	transform: rotateY(360deg);}

.front_16.front__16 {
	transform: rotateY(180deg);}
.back_16.back__16 {
	transform: rotateY(360deg);}

.front_17.front__17 {
	transform: rotateY(180deg);}
.back_17.back__17 {
	transform: rotateY(360deg);}

.front_18.front__18 {
	transform: rotateY(180deg);}
.back_18.back__18 {
	transform: rotateY(360deg);}

.front_19.front__19 {
	transform: rotateY(180deg);}
.back_19.back__19 {
	transform: rotateY(360deg);}

.front_20.front__20 {
	transform: rotateY(180deg);}
.back_20.back__20 {
	transform: rotateY(360deg);}

.front_21.front__21 {
	transform: rotateY(180deg);}
.back_21.back__21 {
	transform: rotateY(360deg);}
