@import 'reset.css';

@font-face {
  font-family: 'CSTM italic';
  src: url('../fonts/cstm-italic.ttf')  format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Wermut regular';
  src: url('../fonts/wermut-regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bitum regular';
  src: url('../fonts/bitum-regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bitum light';
  src: url('../fonts/bitum-light.ttf')  format('truetype');
  font-weight: lighter;
  font-style: normal;
}

body {
  background: black;
}

.enumeration_of_signs {
  position: relative;
}

.enumeration_of_signs h1 {
  color: white;
  font-family: 'CSTM italic';
  font-size: 90px;
  padding-top: 8px;
  padding-bottom: 17px;
  text-align: center;
  cursor: pointer;
}

.enumeration_of_signs h1:hover {
  color: #FF7B7B;
  text-decoration: line-through;
  text-decoration-color: white;
  text-decoration-thickness: 3px;
}

.enumeration_of_signs hr {
  background-color: white;
  height: 2px;
  color: white;
}
