@import 'reset.css';

body {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.enumeration_of_signs {
  position: relative;
  padding-top: 120px;
}

.enumeration_of_signs h1 {
  color: white;
  font-family: 'CSTM italic';
  font-size: 90px;
  padding: 8px 0px 17px 0px;
  text-align: center;
  cursor: pointer;
  transition: 500ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 500ms;
  -webkit-transition-timing-function: ease-in-out;
}

.enumeration_of_signs h1:hover {
  color: #FF7B7B;
  text-decoration: line-through;
  text-decoration-color: white;
  text-decoration-thickness: 3px;
}

.enumeration_of_signs h1:active {
  color: #669BA5;
  text-decoration: line-through;
  text-decoration-color: white;
  text-decoration-thickness: 3px;
}

.enumeration_of_signs hr {
  background-color: white;
  height: 2px;
  color: white;
}

.stars {
  transition: 500ms;
  transition-timing-function: ease-in-out;
}

.stars-svg {
  fill: white;
  position: absolute;
  top: 15vh;
  left: 15vw;
  opacity: 0%;
  z-index: 5;
}

.stars-moon {
  fill: white;
  position: absolute;
  top: 35vh;
  right: 15vw;
  opacity: 0%;
  z-index: 5;
}

.stars-big {
  fill: white;
  position: absolute;
  top: 58vh;
  right: 8vw;
  opacity: 0%;
  z-index: 5;
}

.stars-svg.animation  {
  transition: 500ms;
  transition-timing-function: ease-in-out;
  animation: stars 1s linear 2s infinite alternate;
  opacity: 100%;
}

.stars-moon.animation  {
  transition: 500ms;
  transition-timing-function: ease-in-out;
  animation: stars 1s linear 2s infinite alternate;
  opacity: 100%;
}

.stars-big.animation  {
  transition: 500ms;
  transition-timing-function: ease-in-out;
  animation: stars 1s linear 2s infinite alternate;
  opacity: 100%;
}

@keyframes stars {
  0% {
    fill: white;
  }
  50% {
    fill: #FF7B7B;
  }
  100% {
    fill: white;
  }

}

.glass-1 {
  height: 70%;
  width: 70%;
  position: absolute;
  margin:  0vw 20vw;
  margin-top: 15vh;
  z-index: 4;
  display: none;
}

.glass-2 {
  height: 70%;
  width: 70%;
  position: absolute;
  margin: 0vw 20vw;
  margin-top: 15vh;
  z-index: 4;
  display: none;
}

.glass-1.animation {
  animation: glass-1 1s linear 2s infinite alternate;
  display: block;
}

.glass-2.animation {
  animation: glass-2 1s infinite alternate;
  display: block;
}

@keyframes glass-1 {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }

}

@keyframes glass-2 {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.time {
  transition: 500ms;
  transition-timing-function: ease-in-out;
}

.clock-1 {
  position: absolute;
  width: 7%;
  animation: spin 4s linear infinite;
  opacity: 0%;
  top: 20vh;
  left: 20vh;
  z-index: -1;
  transition: 500ms;
  transition-timing-function: ease-in-out;
}

.clock-2 {
  position: absolute;
  animation: spin 4s linear infinite;
  opacity: 0%;
  top: 20vh;
  right: 20vh;
  z-index: -1;
  transition: 500ms;
  transition-timing-function: ease-in-out;
}

.clock-3 {
  position: absolute;
  animation: spin 4s linear infinite;
  opacity: 0%;
  width: 10%;
  z-index: -1;
  top: 70vh;
  left: 20vh;
  transition: 500ms;
  transition-timing-function: ease-in-out;
}

.clock-4 {
  position: absolute;
  animation: spin 4s linear infinite;
  opacity: 0%;
  z-index: -1;
  top: 58vh;
  width: 5%;
  right: 15vh;
  transition: 500ms;
  transition-timing-function: ease-in-out;
}

.clock-1.animation {
  opacity: 100%;
  transition: 500ms;
  transition-timing-function: ease-in-out;
  z-index: 5;
}

.clock-2.animation {
  opacity: 100%;
  transition: 500ms;
  transition-timing-function: ease-in-out;
  z-index: 5;
}

.clock-3.animation {
  opacity: 100%;
  transition: 500ms;
  transition-timing-function: ease-in-out;
  z-index: 5;
}

.clock-4.animation {
  opacity: 100%;
  transition: 500ms;
  transition-timing-function: ease-in-out;
  z-index: 5;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); transform:rotate(360deg);
    }
  }

@media (max-width: 1500px) {


  .enumeration_of_signs h1 {
    font-size: 70px;
  }

  .enumeration_of_signs {
    padding-top: 100px;
  }

}

@media (max-width: 768px) {

  .enumeration_of_signs h1 {
    font-size: 58px;
  }
}

@media (max-width: 414px) {
  .enumeration_of_signs h1 {
    font-size: 27px;
    padding: 8px 15px 17px 15px;
  }

  .enumeration_of_signs {
    padding-top: 60px;
  }
}
