@import 'reset.css';


.enumeration_of_signs {
  position: relative;
}

.enumeration_of_signs h1 {
  color: white;
  font-family: 'CSTM italic';
  font-size: 90px;
  padding-top: 8px;
  padding-bottom: 17px;
  text-align: center;
  cursor: pointer;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.enumeration_of_signs h1:hover {
  color: #FF7B7B;
  text-decoration: line-through;
  text-decoration-color: white;
  text-decoration-thickness: 3px;
}

.enumeration_of_signs h1:active {
  color: #669BA5;
  text-decoration: line-through;
  text-decoration-color: white;
  text-decoration-thickness: 3px;
}

.enumeration_of_signs hr {
  background-color: white;
  height: 2px;
  color: white;
}
