@import "reset.css";

.advice {
  padding-top: 150px;
  padding-left: 30px;
  position: relative;
  font-family: 'Bitum light';
  font-size: 17px;
  color: white;
}

.icons table {
  border-spacing: 80px 20px;
}

td svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.statistics {
  display: flex;
  justify-content: space-around;
  color: white;
  padding-left: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 65vw;
}

svg:hover {
  fill: #FF7B7B;
}

svg:active {
  fill: #669BA5;
}

svg:visited {

}

.video video {
  width: 60vw;
  padding: 30px;
}

.statistics h3 {
  font-family: 'Wermut regular';
  font-size: 40px;
}

.statistics p {
  font-family: 'Bitum regular';
  font-size: 17px;
  padding: 30px 0px;
  width: 70%;
  margin: 0px !important;
}

.text_about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 30px;
  padding-bottom: 30px;
}

.text_about p  {
  font-family: 'Bitum light';
  font-size: 17px;
  color: white;
}

.cont_for_info {
  display: flex;
  flex-direction: row;
}

.images-of-rooms {
  position: absolute;
}

.room-13 {
  width: 25vw;
  position: absolute;
  top: 90vh;
  left: 60vw;
  display: none;
}

.room-13.ani {
  display: block;
}

.room-bags {
  width: 25vw;
  position: absolute;
  top: 50vh;
  left: 15vw;
  display: none;
}

.room-bags.ani {
  display: block;
}

.room-bird {
  width: 25vw;
  position: absolute;
  top: 10vh;
  left: 70vw;
  z-index: 3;
  display: none;
}

.room-bird.ani {
  display: block;
}

.room-cafe {
  width: 25vw;
  position: absolute;
  top: 94vh;
  left: -10vw;
  display: none;
}

.room-cafe.ani {
  display: block;
}

.room-clock {
  width: 25vw;
  position: absolute;
  top: 34vh;
  left: 10vw;
  display: none;
}

.room-clock.ani {
  display: block;
}

.room-friday {
  width: 25vw;
  position: absolute;
  top: 18vh;
  left: 30vw;
  display: none;
}

.room-friday.ani {
  display: block;
}

.room-moon {
  width: 25vw;
  position: absolute;
  top: 20vh;
  left: 40vw;
  display: none;
}

.room-moon.ani {
  display: block;
}

.room-pin {
  width: 25vw;
  position: absolute;
  top: 14vh;
  left: 2vw;
  display: none;
}

.room-pin.ani {
  display: block;
}

.room-plate {
  width: 25vw;
  position: absolute;
  top: 90vh;
  left: 70vw;
  display: none;
}

.room-plate.ani {
  display: block;
}

.room-rubbish {
  width: 25vw;
  position: absolute;
  top: 100vh;
  left: 30vw;
  display: none;
}

.room-rubbish.ani {
  display: block;
}

.room-salt {
  width: 25vw;
  position: absolute;
  top: 55vh;
  left: 5vw;
  display: none;
}

.room-salt.ani {
  display: block;
}

.room-stairs {
  width: 25vw;
  position: absolute;
  top: 55vh;
  left: 5vw;
  display: none;
}

.room-stairs.ani {
  display: block;
}

.room-sweater {
  width: 25vw;
  position: absolute;
  top: 64vh;
  left: 60vw;
  display: none;
}

.room-sweater.ani {
  display: block;
}

.room-ticket {
  width: 25vw;
  position: absolute;
  top: 94vh;
  left: 70vw;
  display: none;
}

.room-ticket.ani {
  display: block;
}

.room-cats {
  width: 25vw;
  position: absolute;
  top: 40vh;
  left: -5vw;
  display: none;
}

.room-cats.ani {
  display: block;
}

.room-glass {
  width: 25vw;
  position: absolute;
  top: 60vh;
  left: 30vw;
  display: none;
}

.room-glass.ani {
  display: block;
}

@media (max-width: 1500px) {
  .icons table {
    border-spacing: 30px 10px;
  }

  td svg {
    height: 60%;
  }

  .statistics {
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .advice {
    padding-top: 120px;
    padding-bottom: 20px;
    padding-left: 50px;
    font-size: 15px;
  }

  .cont_for_info {
    flex-direction: column;
  }

  .video video {
    width: 90vw;
  }
  .statistics {
    width: 90vw;
  }

  .statistics h3 {
    font-size: 32px;
  }

  .statistics p {
    font-size: 20px;
  }

  .statistics {
    justify-content: space-between;
    padding-left: 50px;
  }

  .text_about {
    padding-left: 50px;
  }
}

@media (max-width: 414px) {
  .cont_for_info {
    flex-direction: column;
  }

  .advice {
    padding-top: 60px;
    font-size: 10px;
  }
  .icons table {
    border-spacing: 20px 10px;
  }

  td svg {
    height: 30%;
  }

  .video {
    align-items: center;
  }

  .video video {
    width: 90vw;
    padding: 15px;
    align-items: center;
  }

  .statistics {
    width: 95vw;
    padding-left: 10px;
    padding-bottom: 20px;
  }

  .statistics div {
    width: 35vw;
  }
  .statistics h3 {
    font-size: 20px;
  }

  .statistics p {
    font-size: 15px;
    padding: 10px 0px;
    width: 70%;
  }

  .text_about {
    padding-left: 20px;
    padding-right: 20px;
  }

  .text_about p {
    font-size: 13px;
  }
}
