@import "reset.css";

.advice {
  padding-top: 150px;
  padding-left: 30px;
  position: relative;
  font-family: 'Bitum light';
  font-size: 17px;
  color: white;
}

.icons table {
  border-spacing: 80px 20px;
}

td svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.statistics {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 65vw;
}

.statistics-block {

}

svg:hover {
  fill: #FF7B7B;
}

svg:active {
  fill: #669BA5;
}

svg:visited {

}

.video video {
  width: 60vw;
  padding: 30px;
}

.statistics h3 {
  font-family: 'Wermut regular';
  font-size: 40px;
}

.statistics p {
  font-family: 'Bitum regular';
  font-size: 17px;
  padding: 30px 0px;
  width: 70%;
  margin: 0px !important;
}

.text_about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 30px;
  padding-bottom: 30px;
}

.text_about p  {
  font-family: 'Bitum light';
  font-size: 17px;
  color: white;
}

.cont_for_info {
  display: flex;
  flex-direction: row;
}


@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 414px) {

  .cont_for_info {
    flex-direction: column;
  }

  .advice {
    padding-top: 60px;
    font-size: 10px;
  }
  .icons table {
    border-spacing: 20px 10px;
  }

  td svg {
    height: 30%;
  }

  .video {
    align-items: center;
  }

  .video video {
    width: 90vw;
    padding: 15px;
    align-items: center;
  }

  .statistics {
    width: 95vw;
    padding-left: 10px;
    padding-bottom: 20px;
  }

  .statistics div {
    width: 35vw;
  }
  .statistics h3 {
    font-size: 20px;
  }

  .statistics p {
    font-size: 15px;
    padding: 10px 0px;
    width: 70%;
  }

  .text_about {
    padding-left: 20px;
    padding-right: 20px;
  }

  .text_about p {
    font-size: 13px;
  }

}
