.content {
  padding-top: 20vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 69vh;
  padding-bottom: 4vh;
  justify-content: space-between;
  align-items: stretch;
}

.product {
  width: 50vw;
}

.product_01 {
  width: 45vw;
}

.product_09 {
  width: 25vw;
  margin-top: -6vh;
  margin-left: 13vw;
  transform: rotate(35deg);
}

.product_08 {
  width: 25vw;
  margin-top: -6vh;
  margin-left: 13vw;
  transform: rotate(35deg);
}

.product_02 {
  width: 40vw;
  padding-top: 2vh;
  padding-left: 5vw;
}

.product_12 {
  width: 30vw;
  margin-top: 7vh;
  margin-left: 10vw;
}

.product_04 {
  width: 30vw;
  margin-left: 10vw;
}

.product_11 {
  width: 30vw;
  margin-left: 10vw;
}

.product_07 {
  width: 30vw;
  margin-left: 10vw;
}

.product_13 {
  width: 25vw;
  margin-left: 13vw;
}

.product_03 {
  width: 33vw;
  margin-left: 8vw;
  margin-top: -4vh;
}

.product_06 {
  width: 25vw;
  margin-left: 12vw;
}

.product_05 {
  width: 25vw;
  margin-top: -3vh;
  margin-left: 12vw;
}

.product_10 {
  width: 40vw;
  margin-left: 6vw;
}

.product_icn {
  transition: all 1s ease-out;
}

.explanation-offer {
  width: 50vw;
}

.buy_icn_block {
  display: flex;
  flex-direction: row;
}

.buy_icn_block h2 {
  margin-top: -5px;
  padding-left: 15px;
  font-family: 'Wermut regular';
  font-size: 40px;
  color: white;
}

.product_explanation h3 {
  padding-top: 15px;
  font-family: 'Wermut regular';
  font-size: 30px;
  color: white;
}

.product_explanation p {
  padding-top: 15px;
  font-family: 'Bitum light';
  font-size: 17px;
  color: white;
  width: 30vw;
}

#buy_icn_block-svg {
  transition: all 1s ease-in-out;
  cursor: pointer;
}

#buy_icn_block-svg circle {
  transition: all 1s ease-in-out;
}



#text-buy {
  cursor: pointer;
}

.offers-tablet {
  display: none;
  position: relative;
  width: 100vw;
  height: 100%;
}

.offers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  margin-top: 2vh;
}

.offer-01 {
  width: 18vw;
  position: absolute;
  left: 14vw;
  top: 1vh;
}

.offer-02 {
  position: absolute;
  width: 15vw;
  top: 20vh;
  left: -2vw;
  transform: rotate(30deg);
}

.offer-03 {
  position: absolute;
  width: 15vw;
  top: 16vh;
  right: 10vw;
  transform: rotate(80deg);
}

.offer-01-04 {
  transform: rotate(-65deg);
  top: -3vh;
  width: 16vw;
}

.offer-02-05 {
  transform: rotate(-65deg);
  top: 17vh;
  width: 13vw;
  left: 2vw;
}

.offer-03-07 {
  transform: rotate(-50deg);
  top: 20vh;
  width: 18vw;
  right: 10vw;
}

.offer-03-05 {
  transform: rotate(50deg);
  top: 17vh;
  width: 14vw;
  right: 10vw;
}

.offer-01-06 {
  transform: rotate(80deg);
  width: 13vw;
  top: -3vh;
}

.offer-01-10 {
  width: 20vw;
}

.offer-01-01 {
  width: 20vw;
  left: 10vw;
}

.offer-02-08 {
  transform: rotate(-90deg);
}

.offer:hover {
  -webkit-filter: drop-shadow(0px 0px 10px #FF7B7B);
  filter: drop-shadow(0px 0px 10px #FF7B7B);
}



@media (max-width: 1280px) {

}

@media (max-width: 768px) {

  .product_01 {
    width: 52vw;
    transform: rotate(50deg);
  }

  .content {
    height: 40vh;
  }

  .offers {
    display: none;
  }

  .offers-tablet {
    display: flex;
  }

  .offer-01 {
    width: 35vw;
    top: 3vh;
    left: 30%;
  }

  .offer-02 {
    width: 27vw;
    left: 5vw;
  }

  .offer-03 {
    width: 27vw;
    right: 10vw;
  }

  .offer-01-04 {
    width: 30vw;
    transform: rotate(20deg);
  }

  .offer-01-06 {
    width: 25vw;
    top: 2vh;
    left: 35%;
  }

}

@media (max-width: 414px) {
  .content {
    padding-top: 10vh;
    flex-direction: column;
    overflow-x: hidden;
    flex-wrap: unset;
    height: 120vh;
  }

  .product {
    width: 90vw;
  }

  .product_01 {
    width: 75vw;
  }

  .product_02 {
    padding-left: 35px;
    width: 80vw;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .product_03 {
    width: 75vw;
  }

  .product_04 {
    width: 75vw;
  }

  .product_05 {
    width: 75vw;
  }

  .product_06 {
    width: 75vw;
  }

  .product_07 {
    width: 75vw;
  }

  .product_08 {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 75vw;
  }

  .product_09 {
    width: 75vw;
    padding-left: 20px;
    transform: rotate(20deg);
    padding-bottom: 40px;
  }

  .product_10 {
    width: 75vw;
  }

  .product_11 {
    width: 75vw;
  }

  .product_12 {
    width: 75vw;
  }

  .product_13 {
    width: 75vw;
    padding-bottom: 30px;
    padding-top: 20px;
  }

  .explanation-offer {
    height: 20%;
    width: 70vw;
  }

  .product_explanation {
    padding-left: 70px;
  }

  .product_explanation h3 {
    font-size: 17px;
  }

  .product_explanation p {
    width: 70vw;
    font-size: 13px;
  }

  #text-buy {
    font-size: 17px;
  }

  .buy_icn_block h2 {
    margin-top: 2px;
  }

  .buy_icn_block svg {
    width: 7%;
    height: 7%;
  }

  .offer-01 {
    width: 50vw;
    left: 18vw;
  }

  .offer-02 {
    top: 25vh;
    width: 40vw;
    left: 5vw;
  }

  .offer-03 {
    top: 20vh;
    width: 40vw;
    right: -25vw;
    transform: rotate(2deg);
  }

  .offer-01-06 {
    width: 35vw;
  }

  .offer-01-10 {
    width: 60vw;
    transform: rotate(20deg);
  }

  .offer-03-05 {
    top: 22vh;
    right: 10vw;
  }

  .content-product-02 {
    height: 125vh;
  }

  .content-product-08 {
    height: 140vh;
  }

  .offer-03-07{
    top: 18vh;
    width: 40vw;
    right: 0vw;
    transform: rotate(32deg);
  }
}
